<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
  </head>
  <body>
    <div class="podcasts">
      <div>
        <img src="{{ podcast.image }}" alt="{{ podcast.image_title }}">
        <div>
          <h1>{{ podcast.title }}</h1>
          <h2>latest episode: {{ podcast.last_ep_pretty() }}</h2>
          {% if podcast.url %}
          <p><a href="{{ podcast.url }}">RSS feed</a></p>
          {% else %}
          <p><a href="{{ auth_url }}/{{ podcast.slug }}.rss">RSS feed</a></p>
          {% endif %}
          {% if episodes %}
          <h3>Episodes</h3>
          <ul>
            {% for episode in episodes %}
            <li><a href="{{ episode.href(not podcast.url) }}">{{ episode.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <h2>Updated: {{ podcast.last_fetch_pretty() }}</h2>
  </body>
</html>
