<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div class="podcasts">
      <div><a href="/export"><h1>Export all</h1></a></div>
      <% for podcast in podcasts %>
      <div>
        <img src="<%= podcast.image %>" alt="<%= podcast.title %>">
        <div>
          <h1><%= podcast.title %></h1>
          <h2>latest episode: <%= podcast.last_ep %></h2>
          <p><a href="<%= podcast.rss_url %>">RSS feed</a></p>
          <p><a href="show/<%= podcast.slug %>.html">episodes</a></p>
        </div>
      </div>
      <% end %>
    </div>
    <h2>Updated: {{ updated }}</h2>
  </body>
</html>
